@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.page-team {
    .hero {
        color: $color-white;
        background: linear-gradient(135deg, $color-navy-900, $color-navy-700);
        padding-block: $space-7;

        &__inner {
            @include container;
        }
    }

    .listing {
        padding-block: $space-8;

        &__inner {
            @include container;
        }
    }
}

.page-contact-thanks,
.page-legal {
    .hero {
        padding-block: $space-7 $space-5;
        background-color: $color-offwhite;

        &__inner {
            @include container;
        }
    }

    .content {
        padding-block: $space-8;

        &__inner {
            @include container;
            max-width: 820px;
        }
    }
}
